:root{
    --bs-dark-rgb: 44,62,80;
    --bs-success-rgb: 26, 188, 156;
}

.img-my-style{
    max-width: 200px;
}



.list-img-mystyle{
    width: 100%;
}


.btn-primary {
    color: #fff;
    background-color: #0d6dfd00;
    border-color: white;
}

.btn-primary:hover {
    color: rgb(0, 0, 0);
    background-color: #fdfdfd;
    border-color: #e0e0e0;
}
.style-line-box{
    position: relative;
}

.style-line-box::after{
    content: "";
    position: absolute;
    top: 66%;
    left: 30px;
    background-color: honeydew;
    border: 1px solid white;
    width: 100px;
}

.style-line-box::before{
    content: "";
    position: absolute;
    top: 66%;
    right: 30px;
    background-color: honeydew;
    border: 1px solid white;
    width: 100px;
}