:root{
    --bs-dark-rgb: 44,62,80;
    --bs-success-rgb: 26, 188, 156;
}

.img-my-style{
    max-width: 200px;
}



.list-img-mystyle{
    width: 100%;
}


.btn-primary {
    color: #fff;
    background-color: rgb(26, 188, 156);
    border-color: white;
}

.btn-primary:hover {
    color: rgb(0, 0, 0);
    background-color: #fdfdfd;
    border-color: #e0e0e0;
}
.style-line-box{
    position: relative;
}

.style-line-box::after{
    content: "";
    position: absolute;
    top: 66%;
    left: 30px;
    background-color: honeydew;
    border: 1px solid white;
    width: 100px;
}

.style-line-box::before{
    content: "";
    position: absolute;
    top: 66%;
    right: 30px;
    background-color: honeydew;
    border: 1px solid white;
    width: 100px;
}

.lines-style-2{
    position: relative;
}

.lines-style-2::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    background-color: honeydew;
    border: 1.5px solid white;
    width: 100px;

}
.lines-style-2::before{
     content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    background-color: honeydew;
    border: 1.5px solid white;
    width: 100px;

}

.dark-line-style{
    position: relative;
}

.dark-line-style::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    background-color: black;
    border: 1.5px solid black;
    width: 100px;
}

.dark-line-style::before{
      content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    background-color: black;
    border: 1.5px solid black;
    width: 100px;
}


.form-control{
    border: none;
    border-bottom: 1px solid grey;
}

.myform .my-textarea{
    height: 100px;
}
.mystyle-icon{
    border: 1px solid;
    border-radius: 50%;
    padding: 10px 12px
}

.mystyle-icon1{

    border: 1px solid;
    border-radius: 50%;
    padding: 10px 10px
}
.my-Copiright-box{
    background: rgb(9, 63, 117);
    font-size: 10px;
}
